
body
{
  margin: 0;
  text-align: center;
  table-layout: center;
  font-family: papyrus,fantasy;
  color: #40514E;

}
h1
{
  color: #66BFBF;
  margin-top: 0;
  font-size: 100px;
  line-height: 200%;
}
h2
{
color: #66BFBF;
font-weight: normal;
padding-bottom: 20px;

}
h3
{
  color:#11999E;
  margin-top: 30px;
}

.top-container
{
  background-color: rgb(177, 207, 212);
  padding-top: 100px;
   position: relative;

}

.middle-container
{
  padding-top: 70px;
 

}

.bottom-container
{

padding-top: 100px;
background-color: #11999E;
padding-bottom: 20px;
  


}

.cloud1
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud-0
{
  position: absolute;
  right: 300px;
  top: 50px;
  
}

.center 
{
  
  text-align: left;
}

.skill-row
{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.profile
{
  padding-left: 20px;
  padding-right: 20px;
}

.Images
{
  width: 40%;
  float: left;
  margin-right: 30px;
}

.Images-2
{
  width: 50%;
  float: right;
  margin-left: 30px;
}

img
{
  border-radius: 50%;
}

tr,th, td {
  padding: 5px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
  text-decoration: none;
}

a
{
  color: #c5c5c5;
  margin: 10px;
}

.contact-me
{
  padding-bottom: 50;
}
